body {
  margin: 0;
  background-color: gray;
}

.loading {
  font-size: 3rem;
  color: whitesmoke;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.postItem {
  font-family: 'Times New Roman', Times, serif;
  transition: all 0.5 ease;
  cursor: pointer;
  font-size: calc(10px + 1vmin);
  color: whitesmoke;
  margin: 10px;
  border-bottom: 2px solid whitesmoke;
}

.postItem:hover {
  color: black;
  border-color: black;
}

.title {
  font-size: 100px;
  margin: auto;
  text-align: center;
  pointer-events: none;
  color: whitesmoke;
}

.postTitle {
  font-size: 30px;
  margin: auto;
  text-align: center;
  pointer-events: none;
}

.singlePost {
  font-family: 'Times New Roman', Times, serif;
  transition: all 0.5 ease;
  pointer-events: none;
  font-size: 20px;
  color: whitesmoke;
  margin: auto;
  padding: 15px;
}

.button {
  color: whitesmoke;
  background: none;
  border: 2px solid whitesmoke;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.5 ease;
  margin: 15px;
}

.button:hover {
  color: black;
  background: whitesmoke;
}

.icon {
  width: 15%;
}

.header {
  margin: 20px;
  display: inline-flex;
  border: 5px solid black;
}

.postContainer {
  width: fit-content;
  margin: 15px;
}

.userId {
  font-family: 'Times New Roman', Times, serif;
  transition: all 0.5 ease;
  cursor: pointer;
  font-size: calc(10px + 1vmin);
  margin: 10px;
}

.userId:hover {
  color: whitesmoke;
}
.userIds {
  font-family: 'Times New Roman', Times, serif;
  transition: all 0.5 ease;
  cursor: pointer;
  font-size: calc(10px + 1vmin);
  margin: 20px;
  pointer-events: none;
}

.userNames {
  font-family: 'Times New Roman', Times, serif;
  transition: all 0.5 ease;
  cursor: pointer;
  font-size: calc(10px + 1vmin);
  color: whitesmoke;
  margin: auto;
  border-bottom: 2px solid whitesmoke;
  width: fit-content;
  margin: 20px;
}

.userNames:hover {
  color: black;
  border-color: black;
}

.profile {
  margin: 20px;
  text-align: center;
}

.profileInfo {
  color: whitesmoke;
  font-family: 'Times New Roman', Times, serif;

}